@import './../../tools/colors/colors';

@keyframes deleteIcon {
  0% {bottom: 30px;}
  80% {bottom: -3px;}
  100% {bottom: -.5px;}
}

@keyframes decrementIcon {
  0% {bottom: 0px;}
  100% {bottom: -30px;}
}

@keyframes delete {
  10% {top: 2px;}
  20% {top: -2px;}
  30% {top: 2px;}
  40% {top: -2px;}
  50% {top: 2px;}
  60% {top: -2px;}
  70% {top: 2px;}
  80% {top: -2px;}
  90% {top: 2px;}
  100% {top: -2px;}
}

.products{
  display: grid;
  grid-template-areas: '1 2';
  max-width: 1500px;
  width: 100%;
  margin: auto;
}

@media (max-width:1270px) {
  .products{
    display: grid;
    grid-template-areas: '1';
  }
}

.product:nth-child(1){
  grid-area: 1;
}
.product:nth-child(2){
  grid-area: 2;
}

.product{
  .productsContent{
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #eee;
  border-radius: 15px;
  margin: 20px 15px 0;
  .productImage{
    width: 110px;
    height: 90px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 0 20px;
  }
  .productTitles{
    .productIngredients{
      font-size: 10px;
      color: rgb(154, 154, 154);
      width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: wrap;
      margin: 11px 0;
    }
    .productTitle{
      margin: 11px 0;
    }
    .productPrice{
      margin: 11px 0;
    }
  }
  .handlers{
    .crement{
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .quantity{
        background-color: white;
        color: $purple_600;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 2px;
        overflow: hidden;
        border-radius: 20px;
      }
      .btn{
        width: 30px;
        height: 30px;
        background-color: $purple_100;
        color: $purple_700;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        padding: 3px 0px;
        transition: .2s;
        overflow: hidden;
        &:hover{
          background-color: $purple_200;
          color: $purple_800;
        }
      }
      .delete{
        background-color: $red_200;
        color: $red_700;
        padding: 5px 0px;
        transition: .2s;
        overflow: hidden;
        position: relative;
        animation: delete .4s ease-out;
        &:hover{
          background-color: $red_300;
          color: $red_800;
        }
        i{
          position: relative;
          right: 2px;
          animation: deleteIcon .7s ease-in-out forwards;
        }
        span{
          position: relative;
          left: 7px;
          animation: decrementIcon .7s ease-in-out forwards;
        }
      }
      .decrement{
        i{
          position: relative;
          bottom: 30px;
        }
        span{
          position: relative;
          bottom: 0px;
          left: 6px;
        }
      }
    }
    .like{
      display: flex;
      align-items: center;
      justify-content: end;
      position: relative;
      bottom: 5px;
      left: 6px;
      color: $red_500;
      transition: .5s;
    }
  }
}



@media (max-width:600px) {
  .product{
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #eee;
  border-radius: 15px;
  margin: 20px 15px 0;
  .productImage{
    width: 180px;
    height: 130px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 15px;
  }
  .handlers{
    display: flex;
    align-items: center;
    justify-content: center;
    .crement{
      position: relative;
    }
    .like{
      display: flex;
      align-items: center;
      // justify-content: end;
      color: #EF4444;
    }
  }
}
}